config.yaml
__pycache__
config-c.yaml
config-r.yaml
output-celebrity.txt
output-json-celebrity.txt
output-json-royal.txt
output-royal.txt
output-browse.txt
.vscode/settings.json
config-comb.yaml
output-combined.txt
output-json-combined.txt
